<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--设置数据库连接字符串-->
	<connectionStrings>
		<add name="DB_MusicConnectionString" connectionString="server=DEEP-1612120834;database=DB_Music;uid=sa;pwd=a13141688;"/>
	</connectionStrings>
	<system.web>
    
    <!--设置编码-->
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8"/>
    
    <!--设置错误页面-->
    <customErrors defaultRedirect="404.aspx" redirectMode="ResponseRedirect" mode="On">
      <error statusCode="404" redirect="404.aspx"/>
    </customErrors>
    
    <!--设置缓存-->
    <caching>
    <outputCacheSettings>
      <outputCacheProfiles>
        <add name="Cache60Seconds" duration="60" varyByParam="none" />
      </outputCacheProfiles>
    </outputCacheSettings>
    </caching>
    <!--设置后台管理页面重定向到登录页面-->
    <authentication mode="Forms">
			<forms name="MangerUserName" defaultUrl="admin/Admin_HomePage.aspx" loginUrl="admin/Admin_LoginPage.aspx" path="/" timeout="30" protection="All"/>
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
	</compilation>
		<!--修改http中允许上传的最大字节数默认是4MB，单位是KB-->
		<httpRuntime maxRequestLength="102400" executionTimeout="120"/>
	</system.web>
	<location path="admin">
		<system.web>
			<authorization>
				<deny users="?"/>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="admin/images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
